body {
    background-color: #0a192f;
    color: #F5F5F5;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Monterat;
    line-height: 1.6;
}

nav {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* #hero {
    background: url('resources/day-26.JPG') no-repeat center center/cover;
    color: white;
} */

#hero .btn {
    color: #0a192f;
}

.social-icons a {
    color: #F5F5F5;
    margin-left: 5px;
    margin-right: 5px;
}

#projects .container {
    color: #0a192f;
}

#contact .btn {
    background-color: #00A8E8;
    color: #F5F5F5;
}

.progress-bar{
    background-color: #00A8E8;
    color: #F5F5F5;
}

h2{
    font-family: Helvetica;
    font-weight: bold;
    margin-bottom: 30px;
}



/* .body .btn {
    background-color: #00A8A8;
    color: #F5F5F5;
    border: none;
} */




/* #navbarNav { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin: 0 20px; */
/* } */

/* #top-title {
    font-weight: bold;
} */

/* #navigate .btn {
    margin-left: 10px;
    color: #F5F5F5;
    background-color: #00A8A8;
    border: none;
} */


.circle-image {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* table {
    width: 50%;
    max-width: 600%;
    border-collapse: collapse;
    margin-top: 50px;
    font-size: small;
}

th, td {
    padding: 8px;
    padding-top: 0px;
    text-align: left;
    border-right: 1px solid #ddd;
} */

/* .location {
    border-right: none;
} */
